<h1>What's your quote for <%= @location.name %>?</h1>
<%= form_for [@location, @quote], :html => {class: "form-group"} do |f| %>
	<%= f.text_field :quote, class: "form-control", placeholder: "What's is your quote?" %>
	<%= f.submit class:"btn btn-default" %>
<% end %> 
