<h1> Add a new quote! </h1>

<%= form_for @quote do |f| %>
	Name: <%= f.text_field :quote, placeholder: "quote" %>
	<%= f.submit "Add quote!" %>

<% end %>

<%= link_to "Back to list!", quotes_path %>