<h1>Criteria#new</h1>

Add a quote for this location<br />
<%= @location.name %>

<%= form_for [@location, @quote] do |f| %>
	<%= f.text_field :quote, placeholder: "What's is your quote?" %>
	<%= f.submit %>
<% end %>