<div class="leftycol">
<%= render "layouts/signlogin" %>
<h1>Welcome to Tagline. Got a funny story to tell about a place in town? </h1>

</div>
<div class="rightycol" >
	<h1 class="rightyh1"> "American Apparel beard 90's, keytar typewriter sriracha dreamcatcher hashtag disrupt narwhal shabby chic viral butcher crucifix. Cardigan Tumblr locavore whatever." <br>
	</h1>
	<h2 id="forh2"> - John Freely </h2>
	<h4 id="forh3"> Cafe Italiono, USA </h4>
	<h4 id="forh4"><%= link_to "Get Started >>>", new_user_path %> </h4> 

	</div>

