<div class="row howtall">

	<div class="col-md-4 shaade4 howtall" >
		<h1>Welcome to Tagline. We're trying to make history one quote at a time. Your quotes. Our legacy. </h1>
	</div>

	<div class="col-md-8 shaade1 howtall">
		<h1 class="rightyh1"> "Kevin's Gourmet Coffee lacks one key component: gourmet coffee" <br>
		</h1>
		<h2 id="forh2"> - Jill Freely </h2>
		<h4 id="forh3"> Cafe Italiono, USA </h4>
		
		<% if current_user %>
		<h4 id="forh4"><%= link_to "Browse Locations >>>", locations_path %> </h4> 
		<% else %>
		<h4 id="forh4"><%= link_to "Get Started >>>", new_user_path %> </h4>
		<% end %> 
	</div>

</div>


