<div class="leftycol">
<%= render "layouts/signlogin" %>
<h1>Welcome to Tagline. Got a funny story to tell about a place in town? </h1>

</div>
<div class="rightycol" >
	<h1> "American Apparel beard 90's, keytar typewriter sriracha dreamcatcher hashtag disrupt narwhal shabby chic viral butcher crucifix. Cardigan Tumblr locavore whatever." <br><br> - Kaitlin Jaffe <br>
</h1>
</div>
