<div class="leftycol">
<%= render "layouts/signlogin" %>
<h1>Welcome to Tagline. Got a funny story to tell about a place in town? </h1>

</div>
<div class="rightycol" >
	<h1> "American Apparel beard 90's, keytar typewriter sriracha dreamcatcher hashtag disrupt narwhal shabby chic viral butcher crucifix. Cardigan Tumblr locavore whatever. Readymade stumptown artisan, seitan Cosby sweater skateboard cray scenester. Occupy forage Blue Bottle flannel, Williamsburg street art Bushwick keffiyeh. PBR chia tattooed brunch, raw denim XOXO mumblecore salvia aesthetic. 90's keffiyeh Portland vinyl artisan, you probably haven't heard of them skateboard. Distillery 8-bit occupy 3 wolf moon next level crucifix, Shoreditch skateboard tote bag Vice." </h1>
</div>
