/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap'; 

 $color1: #132726; 
 $color2: #283F42;
 $color3: #65838B;
 $color4: #A1BABE;
 $color5: #BED7DB; 

 $heightone: 700px;
 $lcolpadding: 30px;



body {
	width:980px
}

 h1 {
 	color: $color5;
 }

.maincontainer {
	display: inline-block;
	width: 980px;
	// height: $heightone;
	background-color: $color2;
	// margin-top: 20px;
	// padding-top: 20px;
}

.maincontainer a {
padding-left: $lcolpadding;
}

.maincontainer a:link {
    color: darken($color5, 70%);
}

/* visited link */
.maincontainer a:visited {
    color: darken($color5, 30%);
}

/* mouse over link */
.maincontainer a:hover {
    color: $color5;
}

/* selected link */
.maincontainer a:active {
    color: $color5;
}


.leftycol {
	float: left;
	display: inline-block;
	width: 340px;
	height: $heightone;
	background-color: $color2;
	border-right: 5px solid $color5

}

.rightycol {
	top: 0;
	float: left;
	display: inline-block;
	width: 350px;
	height: $heightone;
	background-color: $color2;
	overflow: scroll;

}

.leftycol h1 {
	padding-left: $lcolpadding;
	padding-right: 0px;
}

.leftcol a {
	margin-top: 20px;
}

.leftyboxes {

}

.rightyboxes {

}

footer {
}

