/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap'; 

 $color1: #132726; 
 $color2: #283F42;
 $color3: #65838B;
 $color4: #A1BABE;
 $color5: #BED7DB; 

//  $heightone: 700px;
//  $lcolpadding: 30px;
//  $sitewidth: 1000px;
//  $leftyrighty: 15px;



// body {
// 	width:$sitewidth
// }

//  h1, h2, h3, h4, li, b {
//  	color: $color5;
//  }

// .maincontainer {
// 	// display: inline-block;
// 	// width: $sitewidth;
// 	// height: $heightone;
// 	background-color: $color2;
// 	// margin-top: 20px;
// 	// padding-top: 20px;
// }

// .maincontainer a {
// padding-left: $lcolpadding;
// }

// .maincontainer a:link {
//     color: darken($color5, 70%);
// }

// /* visited link */
// .maincontainer a:visited {
//     color: darken($color5, 30%);
// }

// /* mouse over link */
// .maincontainer a:hover {
//     color: $color5;
// }

// /* selected link */
// .maincontainer a:active {
//     color: $color5;
// }


// .leftycol {
// 	float: left;
// 	display: inline-block;
// 	width: 340px;
// 	height: $heightone;
// 	margin-left: $leftyrighty;
// 	padding-right: $leftyrighty;
// 	background-color: $color2;
// 	border-right: 5px solid $color5

// }

// .rightycol {
// 	padding-left: $leftyrighty;
// 	margin-left: 20px;
// 	padding-right: $leftyrighty;
// 	margin-top: 20px;
// 	top: 0;
// 	float: left;
// 	width: 590px;
// 	height: $heightone;
// 	background-color: $color2;
// 	overflow: scroll;

// }

// .leftycol h1 {
// 	display: inline-block;
// }

// .leftcol a {
// 	margin-top: 20px;
// }

// .rightcol.h1 {
// 	// margin-top: 40px;
// 	// float: center;
// 	// padding-left: $lcolpadding;
// 	// padding-right: 0px;

// }

// .rightcol h4 {

// }

// .leftyboxes {

// }

// .rightyboxes {

// }

// #forh2 {
// margin-left: 150px;
// color: lighten($color5, 5%);
// width: 220px;
// }

// #forh3 {
// color: lighten($color5, 10%);
// margin-left: 190px;

// }

// #forh4 {
// margin-top: 30px;
// margin-left: 250px;
// color: lighten($color5, 15%);
// font-style: italic;
// }

// #rightyh1 {
// 	color: lighten($color5, 80%);
// }
.boxnut {
	height: 170;
}

.boxxers {
	height: 170px;
	// padding: 10px;
	margin: 10px;
	padding-top: 10px;
	border-radius: 20px;
	text-align: center;
}

.boxxersleft {
height: 170px;
text-align: center;
padding-top:45px;
margin: 10px;
border-radius: 20px;
}


.howtall {
	height: 550px;
	overflow: scroll;
}

.headerz {
	height: 300
}

.headerzleft {
	padding-right: 20px;
	margin-right: -5px;
	padding-left: 0px;

}

.headerzright {
	padding-right: 0px;
	margin-right: 0px;
	padding-left: 15px;
	border-right: 5px solid darken($color5, 30%);

}

.shaade0 {
	background-color: darken($color5, 30%); 
}

.shaade1 {
	background-color: darken($color5, 20%); 
}

.shaade2 {
	background-color: darken($color5, 10%);
}

.shaade3 {
	background-color: $color5;
}

.shaade4 {
	background-color: lighten($color5, 10%);
}

.shaade5 {
	background-color: lighten($color5, 20%);
}





