

<h1>Let's add a new place</h1>
<p> Add the name and zipcode of the place you want to add below </p>

<%= form_for @location do |f| %>
	<%= f.text_field :name, placeholder: "Location Name?" %>
	<%= f.text_field :zipcode, placeholder: "Zipcode?" %>

	<%= f.submit %>
<% end %>